/frllo_test1000.csv
/checkMonetiz.txt
/frllo_log.txt
/one_monet_close_snils.txt
/not_citizen.csv
/всякие сведения/
/ФРЛЛО_18.01.2021 результаты первичной выгрузки/
/14_09/
/checkMonetiz15.txt
/документация/
/check_one_snils.txt
/list_of_snils_to_check_monitization.txt
/21.01.2021/
/список неграждан - перевыгрузить/
/out/
/one snils.txt
/resultErrors/
/out март/
/разбор дублей и незагруженных/
/проверить структуру/
/2021-01-14_2021-06-01.sql
/listToCheck.txt
/frllo_log (3).txt
/settings-test.set
/one_Snils_toCheck.csv
/newListToCheck.txt
/15_09/
/Ошибки ФБДП по регионам/
/Скрипты ФРЛЛО/
/db_analiz.sql
/Ошибки ФРЛЛО по регионам/
/description new monetization.txt
/no_loaded_20k.csv
/doubles_frllo_14_01.csv
/launch4j.exe.lnk
/analize.sql
/checkLoad.csv
/отброшенные не граждане.txt
/статистика загрузки 2021.06.28.csv
/статистика загрузки 2021.07.13.csv
/статистика загрузки 2021.07.07.csv
/проверка пенсий по списку.csv
/ФРЛЛО_Описание_интеграционных_профилей_20210111.docx
/settings.set